main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 55vh;
    background: #E5F1FF;
}

div.container {
    width: 1080px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    /* background-color:#f8f9fc; */
}

div.container .container__card {
    position: relative;
    margin: 10px;
    width: 200px;
    height: 150px; 
    padding: 10px;
    border: 1px solid #0d4d9c;
    border-radius: 5px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
    overflow: hidden;
}

div.container .container__card::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: calc(-100% + 4px);
    width: 100%;
    height: 100%;
    background: #051d3b;
    z-index: 1;
    transition: 0.5s ease-in-out;
} 

div.container .container__card:hover::before {
    bottom: 0;
} 



.container .container__card div {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
}


.container .container__card div h2 {
    margin-bottom: 10px;
    font-size: 30px;
    transition: 0.5s;
    color: #777;
}

.container .container__card div p {
    font-size: 18px;
    transition: 0.5s;
    color: #777;
}

.container .container__card:hover div h2, 
.container .container__card:hover div p {
    color: white;
}
div.footer__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 35vh;
    background-image: url(/assets/img/footer.1647533643.png);
    background-color: #041b3a;
    position: relative;
    background-position: center;
    background-size: cover;
}
div.footer__container h3{
    justify-content: center;
    margin-top: 50px;
    color: white;
    font-size: 27px;
}

div.footer__container p{
    justify-content: center;
    color: white;
    font-size: 18px;
}

div.footer__container a{
    border-radius: 25px;
    background-color: white;
    margin-top: 2em;
    height: 5em;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size:.7rem;
   
}

div.footer__container p.container__boton{
    color: #2A7AE4;
    padding: 10px 5px 5px 10px;
    text-transform: uppercase;
    text-decoration: none;
}