*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    background: #fdfdfd;
  }
  
.timeline {
    position: relative;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 15px 0;
}
  
  /* linea */
.timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background: #0f100f;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
}
  
.container {
    padding: 15px 30px;
    position: relative;
    background: inherit;
    width: 50%;
}
  
.container.left {
    left: 0;
}
  
.container.right {
    left: 50%;
}
  
/* circulo */
  .container::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    top: calc(50% - 8px);
    right: -8px;
    background: #ffffff;
    border: 2px solid #070707;
    border-radius: 16px;
    z-index: 1;
  }
  
.container.right::after {
    left: -8px;
}
  
  /* bandas */
.container::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    top: calc(50% - 1px);
    right: 8px;
    background: #0a0a0a;
    z-index: 1;
}
  
.container.right::before {
    left: 8px;
}
  
  
  /* circulo interno */
.container .icon {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 9px 0;
    top: calc(50% - 20px);
    background: #55b0f6;
    border: 2px solid #0a0a0a;
    border-radius: 40px;
    text-align: center;
    font-size: 18px;
    color: #090909;
    z-index: 1;
}
  
.container.left .icon {
    right: 56px;
}
  
.container.right .icon {
    left: 56px;
}
  
.container .content {
    padding: 30px 30px 30px 30px;
    background: #E5F1FF;
    position: relative;
    border-radius: 0 500px 500px 0;
}
  
.container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
}
  
.container .content iframe {
  /* padding: auto; */
  margin: 20px;

}
.container .content h2 {
    margin: 0 0 10px 0;
    font-size: 20px;
    font-weight:bold;
    color: #093364;
}
  
.container .content p {
    font-size: 16px;
    line-height: 22px;
    color: #093364;
  
}

.container .content a{
    font-size: 16px;
    margin:10px 0px;
    color: #093364;
    text-decoration: underline;
}


section.video{
  display: flex;
  /* flex-wrap:wrap;  */
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  min-height: 40vh;
  background:#d0cfcf; 
}

section.video div.video__one{
  display: flex;
  justify-content: center;
  width: 100%;
 
}

section.video div.video_mergulho{
  margin-right: 50px;
  
}

section.video div.video_mergulho iframe{
  border: 16px solid #FFF;
  border-color: #093364;
}


section.video aside.video__info {
  padding: 50px;
} 

section.video aside.video__info h2{
  margin-top: 20%;
  font-size: 30px;
  font-weight:bold;

}

@media (max-width: 767.98px) {
    .timeline::after {
      left: 90px;
    }
  
    .container {
      width: 100%;
      padding-left: 120px;
      padding-right: 30px;
    }
  
    .container.right {
      left: 0%;
    }
  
    .container.left::after,
    .container.right::after {
      left: 82px;
    }
  
    .container.left::before,
    .container.right::before {
      left: 100px;
      border-color: transparent #006E51 transparent transparent;
    }
  
    .container.left .date,
    .container.right .date {
      right: auto;
      left: 15px;
    }
  
    .container.left .icon,
    .container.right .icon {
      right: auto;
      left: 146px;
    }
  
    .container.left .content,
    .container.right .content {
      padding: 30px 30px 30px 90px;
      border-radius: 500px 0 0 500px;
    }
}